s.FooterClass {
    background-color: rgb(246, 241, 241);
    text-align: center;
}

#footdiv {
    color: rgb(20, 108, 148);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
#footdiv a {
    text-decoration: none;
    color: rgb(20, 108, 148);
    line-height: 30px;
}
#footdivh {
    font-size: 25px;
}