.container {
    position: relative;
    text-align: center;
    background-color: rgb(246, 241, 241);
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('https://as1.ftcdn.net/v2/jpg/02/33/66/28/1000_F_233662833_vsWRmvwKoYslnWcU3GIFKrb8z58GvQHh.jpg');
}

#HeadTitle {
    color: rgb(20, 108, 148);
    font-size: 300%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#TheSlogan {
    color: rgb(20, 108, 148);
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#HeaderText {
    line-height: 150%;
}