#videomain {
    opacity: 0.5;
    position: relative;
    background-size: contain;
}





#slide_show {
    width: 100%;
    height: 35%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(246, 245, 245);
    justify-self: center;
}

#image_container {
    width: 70%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    z-index: -1;
    background-image: url('https://plus.unsplash.com/premium_photo-1668487826871-2f2cac23ad56?q=80&w=2012&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: 100%;
}

#previousButton {
    background-color: rgb(20, 108, 148);
    color: white;
    border-style: none;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 35px;
}

#previousButton:active {
    box-shadow: 5px 5px 10px rgb(255, 255, 255) inset;
}

#previousButton:hover {
    background-color: rgb(22, 135, 167);
    color: white;
}

#nextButton {
    background-color: rgb(20, 108, 148);
    color: white;
    border-style: none;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 75px;
}

#nextButton:active {
    box-shadow: 5px 5px 10px rgb(255, 255, 255) inset;
}

#nextButton:hover {
    background-color: rgb(22, 135, 167);
    color: white;
}

#image_slider_button1 {
    height: 10%;
    width: 5%;
    top: 50%;
    text-align: center;
    z-index: 1;
}

#image_slider_button2 {
    height: 10%;
    width: 5%;
    top: 50%;
    text-align: center;
    z-index: 1;
}





#image_here {
    background-color: rgb(158, 158, 158);
    color: rgb(65, 201, 226);
}

#videoinmain {
    width: 75%;
    height: 50%;
    text-align: center;
    background-size: cover;
}

#userinputdiv {
    background-image: url('https://media.istockphoto.com/id/1163666619/vector/subtle-halftone-dots-vector-texture-overlay.jpg?s=612x612&w=0&k=20&c=O5FPFcSLJz5gJTu5Vpj1M_CHqHFEUmEpxPVFyN0zkdA=');
    justify-content: center;
    width: 50%;
    height: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 9%;
    padding-right: 9%;
    margin-left: 15%;
    margin-right: 10%;
    position: static;
}

#label {
    color: rgb(20, 108, 148);
    text-align: left;
}

#blogImage {
    width: 350px;
    height: 250px;
}

.UserInput {
    background-color: rgb(246, 241, 241);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-self: center;
    color: rgb(39, 102, 120);
}

#sign_up_label {
    text-align: center;
}

#fname #lname #middleInitial #birtdate #phonenumber #email #zone_or_purok #barangay #province_or_city {
    width: 50%;
    border: 1px solid rgb(20, 108, 148);
}



#submitbutton {
    border: none;
    display: block;
    color: white;
    background-color: rgb(25, 167, 206);
    cursor: pointer;
    padding: 1.5% 1.5%;
    width: 85%;
    font-size: 125%;
    margin-left: 7.5%;
    margin-bottom: 1.5%;
}
#submitbutton:hover {
    border-style: solid;
    border-color: white;
    border-width: auto;
    background-color: rgb(175, 211, 226);
}
#resetbutton {
    border: none;
    display: block;
    color: white;
    background-color: #FA8072;
    cursor: pointer;
    padding: 1.5% 1.5%;
    width: 85%;
    font-size: 125%;
    margin-left: 7.5%;
    margin-bottom: 1.5%;
}
#resetbutton:hover {
    border-style: solid;
    border-color: white;
    border-width: auto;
    background-color: #fdb6ae;
}


.UserInput h1 {
    font-size: 250%;
}
.UserInput #label {
    font-weight: 500;
    font-size: 125%;
}
.UserInput input {
    border: none;
}
#form_labels {
    padding-left: 20%;
    padding-right: 7.5%; 
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 5%; 
    margin: 1%;

}
#form_labels input {
    width: 85%;
    height: 1%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#agediv input {
    width: 12%;
    height: 25%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#agediv {
    margin: 1%;
    padding-left: 20%;
}
#genderdiv select {
    width: 10%;
    height: 25%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}
#genderdiv {
    margin: 1%;
    padding-left: 20%;
}
#agediv {
    margin: 1%;
    padding-left: 20%;
}
#mcdiv select {
    width: 10%;
    height: 25%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#mcdiv {
    margin: 1%;
    padding-left: 20%;
}
#mc2div select {
    width: 20%;
    height: 25%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#mc2div {
    margin: 1%;
    padding-left: 20%;
}
#birthdaydiv input {
    width: 20%;
    height: 25%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
#birthdaydiv {
    margin: 1%;
    padding-left: 20%;
}
#form_labels2 {
    padding-left: 7.5%;
    padding-right: 1%;  
    padding-top: 5%;
    padding-bottom: 1%; 
}
#innerArrange {
    text-align: left;
    background-color: rgb(246, 241, 241);
    width: 75%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 7.5%;
}