#videomain {
    opacity: 0.5;
    position: relative;
    background-size: contain;
}





#slide_show {
    width: 100%;
    height: 35%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(246, 245, 245);
    justify-self: center;
}

#image_container {
    width: 70%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    z-index: -1;
    background-image: url('https://plus.unsplash.com/premium_photo-1668487826871-2f2cac23ad56?q=80&w=2012&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: 100%;
}

#previousButton {
    background-color: rgb(20, 108, 148);
    color: white;
    border-style: none;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 35px;
}

#previousButton:active {
    box-shadow: 5px 5px 10px rgb(255, 255, 255) inset;
}

#previousButton:hover {
    background-color: rgb(22, 135, 167);
    color: white;
}

#nextButton {
    background-color: rgb(20, 108, 148);
    color: white;
    border-style: none;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 75px;
}

#nextButton:active {
    box-shadow: 5px 5px 10px rgb(255, 255, 255) inset;
}

#nextButton:hover {
    background-color: rgb(22, 135, 167);
    color: white;
}

#image_slider_button1 {
    height: 10%;
    width: 5%;
    position: relative;
    top: 50%;
    text-align: center;
    z-index: 1;
}

#image_slider_button2 {
    height: 10%;
    width: 5%;
    position: relative;
    top: 50%;
    text-align: center;
    z-index: 1;
}





#image_here {
    background-color: rgb(158, 158, 158);
    color: rgb(65, 201, 226);
}

#videoinmain {
    width: 75%;
    height: 50%;
    text-align: center;
    background-size: cover;
}

#userinputdiv {
    background-color: rgb(211, 224, 234);
    justify-self: center;
    width: 90%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 95%;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

#label {
    color: rgb(20, 108, 148);
    border-radius: 30%;
    text-align: left;
}

#blogImage {
    width: 350px;
    height: 250px;
}

.UserInput {
    background-color: rgb(246, 245, 245);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    height: 50%;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 25%;
    padding-right: 25%;
    justify-self: center;
}

.UserInput #sign_up_label {
    text-align: center;
    color: rgb(39, 102, 120);
}

#fname {
    width: 75%;
    border: 1px solid rgb(20, 108, 148);
}

#lname {
    width: 100%;
    border: 1px solid rgb(20, 108, 148);
}

#middleinitial {
    width: 100%; 
    border: 1px solid rgb(20, 108, 148);
}

#genderselect {
    width: 75%;
    border: 1px solid rgb(20, 108, 148);
}

#birthdate {
    width: 75%;
    border: 1px solid rgb(20, 108, 148);
}

#phonenumber {
    width: 100%;
    border: 1px solid rgb(20, 108, 148);
}

#gmail {
    width: 100%;
    border: 1px solid rgb(20, 108, 148);
}

#homeaddress {
    width: 100%;
    border: 1px solid rgb(20, 108, 148);
}
#submitbutton {
    background-color: rgb(246, 241, 241);
    color: rgb(65, 201, 226);
    border-radius: 15%;
    border-color: white;
    height: 35%;
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
}

#resetbutton {
    background-color: rgb(236, 101, 77);
    color: rgb(0, 0, 0);
    border-radius: 15%;
    border-color: white;
    height: 35%;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.UserInput h1 {
    font-size: 200%;
}

#form_labels #form_labels2 #form_labels3 #form_labels4 {
    position: absolute;
}

#form_labels {
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    justify-content: center;
}

#form_labels2 {
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    justify-content: center;
}

#form_labels3 {
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    justify-content: center;
}