#navbarbutton {
    background-color: rgb(246, 241, 241);
    color: rgb(20, 108, 148);
    border-radius: 5px;
    border: none;
    width: 3%;
    height: 10%;
    font-size: 75%;
    text-align: center;
}

#navlogo {
    border-radius: 60%;
    width: 35px;
    height: 35px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

#navbarbutton:active {
    background-color: rgb(246, 241, 241);
    box-shadow: 5px 5px 5px rgb(211, 211, 211) inset;
    font-size: 70%;
}

#navbarbutton:hover {
    background-color: rgb(246, 241, 241);
    box-shadow: 7px 7px 5px rgb(211, 211, 211) inset;
    font-size: 70%;
}

.navbutton {
    color: rgb(246, 241, 241);
    background-color: rgb(25, 167, 206);
    border: none;
}

#links {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

#dropdown2 .navbutton {
    border: none;
    outline: none;
    font-size: 17.5px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.dropdown {
    color: rgb(20, 108, 148);
    position: absolute;
    display: none;
    background-color: rgb(246, 241, 241);
    z-index: 5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 25%;
}
.dropdown h4 a {
    padding-left: 50%;
    padding-right: 50%;
}

.dropdown a {
    line-height: 1.5px;
    font-size: 100%;
}

.dropdown h4 {
    text-align: center;
    font-size: 120%;
}

.dropdown a {
    float: none;
    color: rgb(20, 108, 148);
    text-decoration: none;
    padding: 20px 20px;
    display: block;
    text-align: left;
}

.dropdown a:hover {
    background-color: rgb(25, 167, 206);
    color: white;
}
.dropdown a:active {
    background-color: rgb(175, 211, 226);
    color: white;
}

#dropdown2:hover .dropdown {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(246, 241, 241);
}
#dropdown2 {
    float: left;
    text-align: center;
    justify-content: center;
    justify-items: center;
    width: 13%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}
#searchbar {
    border-color: rgb(175, 211, 226);
    background-color: rgb(246, 241, 241);
    width: 10%;
    height: 30%;
    border-radius: 5px;
    text-align: center;
}

#searchbar:active {
    border-color: rgb(246, 241, 241);
    color: rgb(20, 108, 148);
}

.TheNavigation {
    color: rgb(246, 241, 241);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
}
#theNavDiv {
    background-color: rgb(25, 167, 206);
    background-size: inherit;
    width: 100%;
    overflow: auto;
}

.naverlin {
    border-left: 5px dotted rgb(175, 211, 226);
    height: 250px;
    float: left;
    opacity: 0.2px;
    border-width: 1px;
}