.SideContent {
    background-color: rgb(246, 244, 235);
    text-align: center;
}

#SChead1 {
    font-size: 25px;
    text-align: center;
    color: rgb(70, 130, 169);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#SChead2 {
    font-size: 20px;
    text-align: center;
    color: rgb(70, 130, 169);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  

#pf {
    color: rgb(70, 130, 169);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}